registry=http://192.168.33.10:8081/repository/trelix/
//192.168.33.10:8081/repository/trelix/:_authToken=NpmToken.7cd6d514-12f6-3ef5-8dec-f8556288102e
//npm config set registry https://registry.npmjs.org/
