#container {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.container-inner {
  max-width: 100%;
  width: 100%;
  padding: 30px;
}
.swal-confirm-button {
  font-size: 0.85rem !important; /* Smaller font size */
  padding: 10px 24px !important; /* Slightly larger button */
}

@media (max-width: 768px) {
  #container {
    padding: 10px;
  }

  .container-inner {
    padding: 20px;
  }
}